.App {
  text-align: center;
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.App-header {
  background-color: #1e88e5;
  color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
