.login-container {
  background-color: #ffffff;
  width: 320px;
  margin: 100px auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h2 {
  color: #1e88e5;
  margin-bottom: 25px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #1e88e5;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #1565c0;
}
